# PSTAT 135 Final Project: Data Preprocessing

In [1]:
# global imports
import pyspark
from pyspark.sql.session import SparkSession
import pyspark.sql.functions as W
from pyspark.sql.types import StringType, ArrayType
# transformations
from pyspark.ml.feature import StringIndexer
# text transformations
import contractions
from pyspark.ml.feature import RegexTokenizer, StopWordsRemover, CountVectorizer
from nltk.stem import WordNetLemmatizer

spark = SparkSession.builder.getOrCreate()

# Examine Dataset

In [2]:
# import data
tweets = spark.read.csv('Tweets.csv', header=True, inferSchema=True)
# output dataframe
tweets.toPandas().head(2)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0,None,None,Virgin America,None,cairdin,None,0.0,@VirginAmerica What @dhepburn said.,None,2015-02-24 11:35:52 -0800,None,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,None,0.0,Virgin America,None,jnardino,None,0.0,@VirginAmerica plus you've added commercials t...,None,2015-02-24 11:15:59 -0800,None,Pacific Time (US & Canada)

In [3]:
# output dimensions of the dataset
print("Number of rows: ",tweets.count())
print("Number of columns: ",len(tweets.columns))

Number of rows:  14837
Number of columns:  15

In [4]:
# output data types of each column
tweets.dtypes

[('tweet_id', 'string'),
 ('airline_sentiment', 'string'),
 ('airline_sentiment_confidence', 'string'),
 ('negativereason', 'string'),
 ('negativereason_confidence', 'string'),
 ('airline', 'string'),
 ('airline_sentiment_gold', 'string'),
 ('name', 'string'),
 ('negativereason_gold', 'string'),
 ('retweet_count', 'int'),
 ('text', 'string'),
 ('tweet_coord', 'string'),
 ('tweet_created', 'string'),
 ('tweet_location', 'string'),
 ('user_timezone', 'string')]

# Clean Data

## Duplicates

- Drop exact duplicate rows
- Drop rows that differ only by `tweet_id`

In [5]:
# number of distinct observations
tweets.distinct().count()

14785

In [6]:
# drop duplicates
tweets = tweets.dropDuplicates()
# confirm they were dropped
tweets.count()

14785

In [7]:
# count of distinct rows excluding id
tweets.select([c for c in tweets.columns if c!='tweet_id']).distinct().count()

14751

In [8]:
# output values that are duplicates for all columns except tweet_id
tweets.groupBy('airline_sentiment','airline_sentiment_confidence','negativereason',
               'negativereason_confidence','airline','airline_sentiment_gold',
               'name','negativereason_gold','retweet_count','text','tweet_coord',
               'tweet_created','tweet_location','user_timezone')\
    .count()\
    .where(W.col('count')>1)\
    .toPandas()

,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,count
0,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,34
1,negative,1.0,Customer Service Issue,1.0,US Airways,None,istackfranklins,None,0.0,@USAirways,None,None,None,None,2

In [9]:
# drop duplicates for rows excluding id
tweets = tweets.dropDuplicates(subset=[c for c in tweets.columns if c!='tweet_id'])
# confirm duplicates were dropped
tweets.count()

14751

## Missing Values

- Remove all rows with missing values for `text`
- Ignore missing values later for columns used in exploratory data analysis

In [10]:
# number of missing values for each column
tweets.select(*(W.sum(W.col(c).isNull().cast('int')).alias(c) for c in tweets.columns))\
      .toPandas()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,0,107,21,5508,4164,131,14702,147,14719,156,156,13686,338,4949,5046

In [11]:
# remove rows where text is missing
tweets = tweets.dropna(subset='text')

## Examine Categorical Data

`airline_sentiment`
- change `neutral` to `positive` to create a binary classification problem

In [12]:
# output unique values for each categorical variable
cat_vars = ['airline_sentiment','negativereason','airline','tweet_location','user_timezone']
for col in cat_vars:
    tweets.select(col).distinct().show(20,truncate=False)

+-----------------+
|airline_sentiment|
+-----------------+
|positive         |
|neutral          |
|negative         |
+-----------------+

+---------------------------+
|negativereason             |
+---------------------------+
|Lost Luggage               |
|longlines                  |
|Late Flight                |
|null                       |
|Damaged Luggage            |
|Cancelled Flight           |
|Customer Service Issue     |
|Flight Attendant Complaints|
|Bad Flight                 |
|Can't Tell                 |
|Flight Booking Problems    |
+---------------------------+

+--------------+
|airline       |
+--------------+
|Delta         |
|Virgin America|
|United        |
|US Airways    |
|Southwest     |
|American      |
+--------------+

+--------------------------+
|tweet_location            |
+--------------------------+
|washington, dc            |
|✖️ || 4/5 || ✖️           |
|Winchester | Northend Ma  |
|Heart of America          |
|Bangalore                 |
|Gone West                 |
|Downtown Dallas, Texas    |
|Utah                      |
|Melbourne, Aus            |
|Winnipeg, MB Canada       |
|Scituate, MA              |
|Brooklyn NY               |
|Wilmington, North Carolina|
|ʞᴚoʎ   ʍǝu                |
|Ho-Flo/Columbus/NYC       |
|Alexandria, Va            |
|Coming to a City Near You!|
|Port Washington, NY 11050 |
|@ the moment in New Delhi |
|Novi, MI                  |
+--------------------------+
only showing top 20 rows

+--------------------------+
|user_timezone             |
+--------------------------+
|Hawaii                    |
|Casablanca                |
|Wellington                |
|Lima                      |
|Central Time (US & Canada)|
|Madrid                    |
|Prague                    |
|Canberra                  |
|North Hollywood, CA       |
|Edinburgh                 |
|Singapore                 |
|Adelaide                  |
|2015-02-23 16:52:54 -0800 |
|America/Atikokan          |
|America/Chicago           |
|Columbus, OH              |
|Beijing                   |
|DC                        |
|Bern                      |
|Arkansas                  |
+--------------------------+
only showing top 20 rows

In [13]:
# convert neutral airline tweets to positive
tweets = tweets.withColumn('label', W.when(W.col('airline_sentiment')=='neutral','positive')\
                                          .otherwise(W.col('airline_sentiment')))

## Create Index Column

Used later when combining data frames

In [14]:
# create index column
tweets = tweets.withColumn('id', W.monotonically_increasing_id())
# output data frame
tweets.toPandas().head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,label,id
0,569912710848057344,negative,1.0,Late Flight,1.0,United,None,ADanaiBaker,None,0,@united Now arriving a day and a half Late Fli...,None,2015-02-23 09:32:33 -0800,None,None,negative,0
1,569941858132070400,negative,1.0,Bad Flight,0.6404,American,None,Aero0729,None,0,@AmericanAir don't they already know ? Isn't ...,None,2015-02-23 11:28:22 -0800,None,None,negative,1
2,568307768551026688,neutral,0.7026,None,0.0,Virgin America,None,AlgeriaTweets,None,0,@VirginAmerica Atlantic ploughs a lone furrow ...,None,2015-02-18 23:15:05 -0800,"Algiers, Algeria",Abu Dhabi,positive,2
3,569529813121290240,negative,1.0,Cancelled Flight,1.0,US Airways,None,AndrewAquilante,None,0,"@USAirways between 3 of us, it is costing over...",None,2015-02-22 08:11:03 -0800,"Phoenixville, PA",Eastern Time (US & Canada),negative,3
4,569313760864632832,neutral,0.6459,None,0.0,Southwest,None,BK_ATX15,None,0,@SouthwestAir How do I retroactively add previ...,None,2015-02-21 17:52:32 -0800,"Austin, TX",None,positive,4

## Select Desired Columns

Columns will be used later for exploratory data analysis

In [15]:
# select columns
tweets = tweets.select('id','label','negativereason','airline','retweet_count','text')
# output dataframe
tweets.toPandas().head(2)

,id,label,negativereason,airline,retweet_count,text
0,0,negative,Flight Booking Problems,US Airways,0,"@USAirways but wait! They are booked, along wi..."
1,1,negative,Bad Flight,US Airways,0,@USAirways yes. Every one of these on every f...

In [16]:
# output dimensions of the dataset
print("Number of rows: ",tweets.count())
print("Number of columns: ",len(tweets.columns))

Number of rows:  14595
Number of columns:  6

# Transform Text Data

In [17]:
# select columns
text_df = tweets.select('id','label','text')
# output dataframe
text_df.toPandas().head(2)

   id     label                                               text
0   0  negative  @USAirways but wait! They are booked, along wi...
1   1  negative  @USAirways yes.  Every one of these on every f...

## Expand Contractions

In [18]:
# function for expanding contractions
def fix_contractions(text):
    return contractions.fix(text)
# udf for expanding contractions
contractions_udf = W.udf(lambda row: fix_contractions(row) , StringType())
# add column with contractions expanded
text_df = text_df.withColumn('text_clean', contractions_udf('text'))
# output data frame
text_df.toPandas().head()

,id,label,text,text_clean
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...

## Tokenize the Text

In [19]:
# tokenize the text, @():;,.!?\-\/"
rt = RegexTokenizer().setInputCol('text_clean')\
                     .setOutputCol('text_vec')\
                     .setPattern('\s+|[\W]')\
                     .setToLowercase(True)
# transform data
text_df = rt.transform(text_df)
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev..."
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,..."
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http..."
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,..."

## Convert Digits to Words

Convert `0` through `9` to `zero` through `9`

In [20]:
# dictionary of number and word keys
num_word_dict = {'0':'zero','1':'one','2':'two','3':'three','4':'four',
                 '5':'five','6':'six','7':'seven','8':'eight','9':'nine'}
# function for converting number to word
def num_to_word(row):
    new_row = []
    for x in row:
        if x in num_word_dict.keys():
            new_row.append(num_word_dict[x])
        else:
            new_row.append(x)
    return new_row
# udf for converting number to word
num_to_word_udf = W.udf(lambda row: num_to_word(row) , ArrayType(StringType()))
# add column with numbers converted to word
text_df = text_df.withColumn('text_vec_num', num_to_word_udf('text_vec'))
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon...","[usairways, but, wait, they, are, booked, alon..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev..."
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,...","[southwestair, how, do, i, retroactively, add,..."
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http..."
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,..."

## Remove Stopwords

In [21]:
# create english stopwords
english = StopWordsRemover().loadDefaultStopWords('english')
# stopwords transformer
stops = StopWordsRemover().setStopWords(english)\
                          .setInputCol('text_vec_num')\
                          .setOutputCol('text_vec_stop')
# transform dataframe
text_df = stops.transform(text_df)
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num,text_vec_stop
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon...","[usairways, but, wait, they, are, booked, alon...","[usairways, wait, booked, along, hotels, nearb..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, every, flight, li..."
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,...","[southwestair, how, do, i, retroactively, add,...","[southwestair, retroactively, add, previous, f..."
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a..."
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, tag, still, saw, tweet, flight..."

## Lemmatize Words

In [22]:
# create word lemmatizer object
wnl = WordNetLemmatizer()
# function for lemmatizing words
def wnl_row(row):
    return [wnl.lemmatize(x) for x in row]
# udf for lemmatizing words
lemmatizer_udf = W.udf(lambda row: wnl_row(row) , ArrayType(StringType()))
# create column of lemmatized words
text_df = text_df.withColumn('text_vec_lem', lemmatizer_udf('text_vec_stop'))
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num,text_vec_stop,text_vec_lem
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon...","[usairways, but, wait, they, are, booked, alon...","[usairways, wait, booked, along, hotels, nearb...","[usairways, wait, booked, along, hotel, nearby..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li..."
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,...","[southwestair, how, do, i, retroactively, add,...","[southwestair, retroactively, add, previous, f...","[southwestair, retroactively, add, previous, f..."
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a..."
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight..."

## Remove Characters

In [23]:
# function for removing characters
def not_letter(row):
    return [x for x in row if len(x)>1]
# udf for removing characters
not_letter_udf = W.udf(lambda row: not_letter(row) , ArrayType(StringType()))
# create column with characters removed
text_df = text_df.withColumn('text_vec_clean', not_letter_udf('text_vec_lem'))
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num,text_vec_stop,text_vec_lem,text_vec_clean
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon...","[usairways, but, wait, they, are, booked, alon...","[usairways, wait, booked, along, hotels, nearb...","[usairways, wait, booked, along, hotel, nearby...","[usairways, wait, booked, along, hotel, nearby..."
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li..."
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,...","[southwestair, how, do, i, retroactively, add,...","[southwestair, retroactively, add, previous, f...","[southwestair, retroactively, add, previous, f...","[southwestair, retroactively, add, previous, f..."
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a..."
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight..."

## Vectorize Words

Create a vocabulary of words that appear in 0.5% of the documents

In [24]:
# create transformer
cv = CountVectorizer().setInputCol('text_vec_clean')\
                      .setOutputCol('count_vec')\
                      .setMinDF(text_df.count()*0.005)
# fit the transformer
fit_cv = cv.fit(text_df)
# transform the data
text_df = fit_cv.transform(text_df)
# output the vectorized column
text_df.select('count_vec').show(5, truncate=False)

+-------------------------------------------------------------------------------+
|count_vec                                                                      |
+-------------------------------------------------------------------------------+
|(349,[2,58,118,127,151],[1.0,1.0,1.0,1.0,2.0])                                 |
|(349,[0,2,16,22,40,97,210,288],[1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0])              |
|(349,[0,4,134,186,289],[1.0,1.0,1.0,1.0,1.0])                                  |
|(349,[5,7,8,158,159],[1.0,1.0,1.0,1.0,1.0])                                    |
|(349,[0,5,6,24,54,70,81,114,272,321],[1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])|
+-------------------------------------------------------------------------------+
only showing top 5 rows

In [25]:
# create vocabulary variable
vocab = fit_cv.vocabulary

## Convert Label Column to Float

`negative` becomes `0` and `positive` becomes `1`

In [26]:
# create string indexer
indxr = StringIndexer().setInputCol('label')\
                       .setOutputCol('label_idx')
# transform data
text_df = indxr.fit(text_df).transform(text_df)
# output dataframe
text_df.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num,text_vec_stop,text_vec_lem,text_vec_clean,count_vec,label_idx
0,0,negative,"@USAirways but wait! They are booked, along wi...","@USAirways but wait! They are booked, along wi...","[usairways, but, wait, they, are, booked, alon...","[usairways, but, wait, they, are, booked, alon...","[usairways, wait, booked, along, hotels, nearb...","[usairways, wait, booked, along, hotel, nearby...","[usairways, wait, booked, along, hotel, nearby...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
1,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li...","(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
2,2,positive,@SouthwestAir How do I retroactively add previ...,@SouthwestAir How do I retroactively add previ...,"[southwestair, how, do, i, retroactively, add,...","[southwestair, how, do, i, retroactively, add,...","[southwestair, retroactively, add, previous, f...","[southwestair, retroactively, add, previous, f...","[southwestair, retroactively, add, previous, f...","(1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",1.0
3,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, ...",1.0
4,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight...","(1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...",0.0

# Train and Test Datasets

70% of the data is used to train the model, 30% of the data is used to test the model

In [27]:
# create train and test sets
train,test = text_df.randomSplit([0.7,0.3],116)

In [28]:
# output train data
train.toPandas().head()

,id,label,text,text_clean,text_vec,text_vec_num,text_vec_stop,text_vec_lem,text_vec_clean,count_vec,label_idx
0,1,negative,@USAirways yes. Every one of these on every f...,@USAirways yes. Every one of these on every f...,"[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, of, these, on, ev...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li...","[usairways, yes, every, one, every, flight, li...","(1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.0
1,3,positive,Sigh... “@JetBlue: Our fleet's on fleek. http:...,Sigh... “@JetBlue: Our fleet's on fleek. http:...,"[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, our, fleet, s, on, fleek, http...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","[sigh, jetblue, fleet, fleek, http, co, w5nl0a...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, ...",1.0
2,4,negative,@JetBlue Whoa! No tag and you still saw my twe...,@JetBlue Whoa! No tag and you still saw my twe...,"[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, no, tag, and, you, still, saw,...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight...","[jetblue, whoa, tag, still, saw, tweet, flight...","(1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...",0.0
3,5,positive,@JetBlue true. Maybe. Wish I had expedited sec...,@JetBlue true. Maybe. Wish I had expedited sec...,"[jetblue, true, maybe, wish, i, had, expedited...","[jetblue, true, maybe, wish, i, had, expedited...","[jetblue, true, maybe, wish, expedited, securi...","[jetblue, true, maybe, wish, expedited, securi...","[jetblue, true, maybe, wish, expedited, securi...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...",1.0
4,6,positive,@USAirways will you please start offering more...,@USAirways will you please start offering more...,"[usairways, will, you, please, start, offering...","[usairways, will, you, please, start, offering...","[usairways, please, start, offering, routes, t...","[usairways, please, start, offering, route, tr...","[usairways, please, start, offering, route, tr...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1.0

## Tweets Dataset for Exploratory Data Analysis

Make a dataset for the training data with additional features for exploratory data analysis

In [29]:
# merge tweets and train to get a data frame for exploratory data analysis with additional features
tweets_train = tweets.join(train, on=['id'], how='left_semi')
tweets_train = tweets_train.select('label','negativereason','airline','retweet_count','text')
tweets_train.toPandas().head()

,label,negativereason,airline,retweet_count,text
0,negative,Bad Flight,US Airways,0,@USAirways yes. Every one of these on every f...
1,positive,None,Delta,0,Sigh... “@JetBlue: Our fleet's on fleek. http:...
2,negative,Late Flight,Delta,0,@JetBlue Whoa! No tag and you still saw my twe...
3,positive,None,Delta,0,@JetBlue true. Maybe. Wish I had expedited sec...
4,positive,None,US Airways,0,@USAirways will you please start offering more...

## Select Columns for Train and Test

In [30]:
# select columns for train and test
train = train.select('count_vec','label_idx')
test = test.select('count_vec','label_idx')

## Store Data Frames for Later Use

In [31]:
# store dataframes for additional programs
dfs = [train.toPandas(),test.toPandas(),tweets_train.toPandas(),vocab]
%store dfs

Stored 'dfs' (list)